#ff4d41 p,
h1,
h2,
h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  color: #444;
}

.App {
  max-width: 100%;
  overflow-x: hidden;
}

.dashboard {
  display: flex;
  align-items: flex-start;
}

.dashboard h2 {
  text-align: center;
  margin-top: 30px;
}

.logoheader {
  width: 50px;
  margin-left: 20px;
}

.unordered {
  min-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 20px 20px 20px;
}

.weekdays {
  display: flex;
  flex-wrap: wrap;
  min-width: 50%;
  margin-top: 20px;
  justify-content: center;
  background-color: white;
  overflow-x: hidden;
}

.weekday {
  min-height: 200px;
  min-width: 200px;
  background-color: #ff4d41;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  overflow-x: hidden;
}

.weekday p {
  margin-top: 10px;
  color: white;
}

.dragging {
  opacity: 40%;
}
