.uploadProfilePic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(201, 201, 201);
  cursor: pointer;
  outline: 0;
}

.uploadProfilePic:hover {
  background-color: rgb(129, 129, 129);
}

.uploadPicIcon {
  color: rgb(0, 0, 0);
  margin: -3px;
}

.outlineNone {
  outline: none;
}

.uploadProfilePic:hover {
  filter: grayscale(var(--value, 100%));
}
